<style>
    .footer{
    background-image:url("https://media1.giphy.com/media/dAWZiSMbMvObDWP3aA/giphy.gif");
background-repeat: no-repeat;
background-size: cover;
color: white;
    }
</style>
<footer class="footer">
    <div class="container-fluid"  data-active-color="danger" data-color="danger">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="">
                       BLOG
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200">
                        Food Arena Log Out!
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i><small> Vipul,Sachin,Shreya,Avantika,Gaurvi,Anamika </small>
        </div>
    </div>
</footer>
